/* global */
*   {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
html{
    font-family: 'Roboto', sans-serif, 'Lato';

}
body{
    width: 100%;
    background-image: url('img/fondo.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    width: 90%;
    margin: 0 auto;
}
.clearfinx::after{
    content: "";
    clear: both;
    display: table;
}
h1{
    color: white;
    font-size: 48px;
}
p{
    color: white;
    font-size: 16px;
}
/* nav */
nav{
    height: 100px;
    line-height: 100px;
}
nav a{
    color:white;
    text-decoration: none;
}
nav a img{
    vertical-align: middle;
}
nav a:nth-child(2){
    float: right;
}

/* header */
header{
    margin: 100px 0 200px 0;
    text-align: center;
}
header img{
    border-radius: 50%;
    height: 130px;
}
header p{
    width: 45%;
    margin: 30px auto 0 auto;
}

header span{
    color: #FF4A5E;
    text-decoration: none;
}